<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Шахматная доска состоит из 64 клеток одинакового размера, попеременно светлых (белые поля) и тёмных (чёрные поля) по вертикали и горизонтали.
Шахматная доска располагается между игроками таким образом, чтобы ближнее угловое поле справа от каждого шахматиста было белым.
Ряд из 8 полей, идущий от края доски, ближайшего к одному игроку, к краю доски, ближайшего ко второму игроку, называется вертикалью.
Ряд из 8 полей, идущий от одного края шахматной доски к другому под прямым углом к вертикалям, называется горизонталью.
Ряд полей одинакового цвета, касающихся друг друга углами, называется диагональю. Диагональ, которая проходит из одного угла доски к другому, называется «большой диагональю».</h2>
</body>
</html>